radiotube/app_client/signup/signup.view.html
<div class="container">
    <div class="row main">
        <div class="panel-title text-center">
            <h1 class="title" id="radiotube"></h1>
        </div>
        <div class="main-login main-center">
            <form ng-submit="vm.sendData()" class="form-horizontal" method='post' autocomplete="off">
                <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label" for='name'>
                        Full Name
                    </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-users-fa" aria-hidden='true'></i>
                            </span>
                            <input ng-model="vm.signupData.fullName" id="name" class="form-control" type='text' name='name'  placeholder='Enter your Name'/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label" for='username'>
                        Username
                    </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                            <i class="fa fa-lock fa-lg" aria-hidden='true'></i>
                        </span>
                        <input ng-model="vm.signupData.userName" id="userName" class="form-control" type='text' name='username' placeholder='Enter your Username'/>
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label" for='password'>
                        Password
                    </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock fa-lg" aria-hidden='true'></i>
                            </span>
                            <input ng-model="vm.signupData.password" id="password" class="form-control" type='password' name='password' placeholder='Enter your Password'/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label" for='confirm'>
                        Confirm Password
                    </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock fa-lg" aria-hidden='true'></i>
                            </span>
                            <input ng-model="vm.signupData.confirm" id="confirm" class="form-control" type='password' name='confirm' placeholder='Confirm your Password'/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block login-button" type='submit' id="signup-submit">
                        Sign Up
                    </button>
                </div>
                <div class="login-register">
                    <a href="/">
                        Sign In
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
    

radiotube/app_server/views/signup.jade
doctype html
html(ng-app='radiotube')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
body
  .container
      .row.main
        .panel-heading
          .panel-title.text-center
            h1.title#radiotube
        .main-login.main-center
          form.form-horizontal(method='post', action='/signup')
            .form-group
              label.cols-sm-2.control-label(for='name') Full Name
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-user.fa(aria-hidden='true')
                  input#name.form-control(type='text', name='name', placeholder='Enter your Name')
            .form-group
              label.cols-sm-2.control-label(for='username') Username
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-users.fa(aria-hidden='true')
                  input#username.form-control(type='text', name='username', placeholder='Enter your Username')
            .form-group
              label.cols-sm-2.control-label(for='password') Password
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-lock.fa-lg(aria-hidden='true')
                  input#password.form-control(type='password', name='password', placeholder='Enter your Password')
            .form-group
              label.cols-sm-2.control-label(for='confirm') Confirm Password
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-lock.fa-lg(aria-hidden='true')
                  input#confirm.form-control(type='password', name='confirm', placeholder='Confirm your Password')
            .form-group
              button.btn.btn-primary.btn-lg.btn-block.login-button(type='submit' id="signup-submit") Sign Up
            .login-register
              a(href='/whodoesntusejs/') Sign In
  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      div.alert.alert-danger(hidden id="signup-submit-password-error" role="alert") 
        strong The given passwords are not the same!
    .col-xs-0.col-sm-2
        
  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      div.alert.alert-danger(hidden id="signup-submit-empty-error" role="alert") 
        strong Some data is missing!
    .col-xs-0.col-sm-2
    
  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      div.alert.alert-success(hidden id="signup-submit-success" role="alert") 
        strong Account created!
    .col-xs-0.col-sm-2
              
  script(src='/javascript/jquery-3.2.1.min.js') 
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src='/javascript/signup.js')
  script(src='/angular/angular.min.js')
  script(src='/angular/radiotube.js')
