radiotube/app_server/views/signin.jade
doctype html
html(ng-app='radiotube')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
body
  .container
      .row.main
        .panel-heading
          .panel-title.text-center
            h1.title#radiotube
        .main-login.main-center
          form.form-horizontal(method='post' action='/whodoesntusejs/signin' id="needs-validation")
            .form-group
              label.cols-sm-2.control-label(for='username') Username
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-users.fa(aria-hidden='true')
                  input#username.form-control(type='text', name='userName', placeholder='Enter your Username')
            .form-group
              label.cols-sm-2.control-label(for='password') Password
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-lock.fa-lg(aria-hidden='true')
                  input#password.form-control(type='password', name='password', placeholder='Enter your Password')
            .form-group
                button.btn.btn-primary.btn-lg.btn-block.login-button(type='submit' id="signin-submit") Sign In
            .login-register
              a(href="/whodoesntusejs/signup") Sign Up
              
  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      div.alert.alert-danger(hidden id="login-submit-password-error" role="alert") 
        strong Please enter a valid password!
    .col-xs-0.col-sm-2
        
  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      div.alert.alert-danger(hidden id="login-submit-username-error" role="alert") 
        strong Please enter a valid username!
    .col-xs-0.col-sm-2
  
  script(src='/javascript/jquery-3.2.1.min.js') 
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src='/javascript/login.js')
  script(src='/angular/angular.min.js')
  script(src='/angular/radiotube.js')

radiotube/app_client/signin/signin.view.html
<div class="container">
    <div class="row main">
        <div class="panel-title text-center">
            <h1 class="title" id="radiotube"></h1>
        </div>
        <div class="main-login main-center">
            <form ng-submit="vm.sendData()" class="form-horizontal" autocomplete="off">
                <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label" for='username'>
                        Username
                    </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-users-fa" aria-hidden='true'></i>
                            </span>
                            <input ng-model="vm.signinData.userName" id="username" class="form-control" type='text' name='username' placeholder='Enter your Username'/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label" for='password'>
                        Password
                    </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock fa-lg" aria-hidden='true'></i>
                            </span>
                            <input ng-model="vm.signinData.password" id="password" class="form-control" type='password' name='password' placeholder='Enter your Password'/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block login-button" type='submit' id="signin-submit">
                        Sign In
                    </button>
                </div>
                <div class="login-register">
                    <a href="/signup">
                        Sign Up
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

        
