radiotube/app_client/stations/stations.view.html
<header></header>

<div class="container" id="layout-main-container">
    <div class="row">
        <div class="col-xs-0 col-sm-2"></div>
        <div class="col-xs-12 col-sm-8">
            <h1>Stations</h1>
            <div class="row">
                <div id="searchbutton">
                    <span class="style">
                        <span id="addon">
                            <button id="buttonsearch" type="submit">
                                <span id="glyph-s" class="glyphicon glyphicon-search"></span>
                            </button>
                            <input id="search_par" name="filter" type="text" placeholder="Search" ng-model="filterRezultatov" class="form-control vrsta">
                        </span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div ng-show="filterRezultatov" id="rezultati-iskanja">
                    <div ng-repeat="stationP in vm.stations">
                        <div ng-repeat="stationP2 in stationP.stations | filter: filterRezultatov">
                            <a href="/station/{{ stationP2.userID }}">
                                <div id="detail">
                                    <i>{{ stationP2.stationName }}</i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <h2 ng-show="!filterRezultatov" id="stationsGenres-h">Genres</h2>
            <div ng-show="!filterRezultatov">
                <div class="zanrMasterDetail">
                    <div ng-repeat="station in vm.stations"  class=" btn-block ">
                        <button  id="{{ station.genreName }}" ng-click="vm.buttonToggle(station.genreName)" class="btn btn-default btn-block btn-md gumbiZanrov">{{ station.genreName }}</button>
                            <div ng-show=" vm.showDetails == station.genreName" class="details">
                                <span ng-repeat="playlist in station.stations | filter: filterRezultatov">
                                    <a href="/station/{{ playlist.userID }}">
                                        <div id="detail">
                                            <i>{{ playlist.stationName }}</i>
                                        </div>
                                    </a>
                                </span>
                                <div ng-show="!vm.noMore" id="detail" ng-click="vm.updateGenres(station.genreName)">
                                    <strong><i>...</i></strong>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div style="display: block;" class="details"></div>
            <h2 ng-show="!filterRezultatov" id="stationsTags-h">Tags</h2>
            <div ng-show="!filterRezultatov">
                <div class="zanrMasterDetail">
                    <div ng-repeat="station in vm.stationsTags"  class=" btn-block ">
                        <button  id="{{ station.tagName }}" ng-click="vm.buttonToggle(station.tagName)" class="btn btn-default btn-block btn-md gumbiZanrov">{{ station.tagName }}</button>
                            <div ng-show=" vm.showDetails == station.tagName" class="details">
                                <span ng-repeat="playlist in station.stations | filter: filterRezultatov">
                                    <a href="/station/{{ playlist.userID }}">
                                        <div id="detail">
                                            <i>{{ playlist.stationName }}</i>
                                        </div>
                                    </a>
                                </span>
                                <div ng-show="!vm.noMore" id="detail" ng-click="vm.updateTags(station.tagName)">
                                    <strong><i>...</i></strong>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

radiotube/app_server/views/stations.jade
extends layout

block content
    .row
        .col-xs-0.col-sm-2
        
        .col-xs-12.col-sm-8
        
            h1 Stations
            .row
                div#searchbutton
                    span.styl
                        span#addon
                            button#buttonsearch(type="submit")
                                span.glyphicon.glyphicon-search#glyph-s
                            input#search_par.form-control(type="text" placeholder="Search").vrsta
                            
            .row                
                div#rezultati-iskanja(style="display:none")
                    each zanr in zanrList
                        each list in zanr.stations
                                    span.result-search(id=list.stationName)(style="display:none")
                                        a(href='/station/'+list.userID)
                                            div#detail-s
                                                i #{list.stationName}
                                                
            h2(id="stationsGenres-h") Genres
            div
                each zanr in zanrList
                    .zanrMasterDetail
                        button.btn.btn-default.btn-block.btn-md.gumbiZanrov(id=zanr.genreName)(onclick="buttonToggle(this.id)") #{zanr.genreName}
                        div.details(style="display:none;")
                            each list in zanr.stations
                                span
                                    a(href='/station/'+list.userID)
                                        div#detail
                                            i #{list.stationName}
            h2(id="stationsTags-h") Tags                            
            div
                each tag in tagsList
                    .zanrMasterDetail
                        button.btn.btn-default.btn-block.btn-md.gumbiZanrov(id=tag.tagName)(onclick="buttonToggle(this.id)") #{tag.tagName}
                        div.details(style="display:none;")
                            each list in tag.stations
                                span
                                    a(href='/station/'+list.userID)
                                        div#detail
                                            i #{list.stationName}                                
        
        .col-xs-0.col-sm-2
        
